/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* VARIABLES */

/* GLOBALS */
#page {
  top: 0;
}

* {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

/* SPECIFICS */
header {
  background-color: white;
  position: fixed;
  top: 0;

  width: 100%;
}

main {
  margin-top: 72px;
}

@media only screen and (min-width: 1023px) {
  header {
    position: static;
  }
}

@media only screen and (max-width: 1023px) {
  .hamburger1 {
    margin-left: auto;
  }
}

#secondary_nav {
  display: flex;
  justify-content: space-between;

  margin: 12px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #secondary_nav {
    margin: 24px;
  }
}

/* Hamburger */
.hamburger1 {
  height: 32px;
  width: 24px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: black;
  position: relative;
  width: 24px;
  height: 3px;
  margin-top: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 1023px) {
  .hamburger1 {
    width: 32px;
    height: 40px;
    display: none;
  }
  .hamburger1 div {
    width: 32px;
  }
  .menu1 {
    display: none;
  }
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 12.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -3px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
  display: none;
}

/* Menu */
.menu1 {
  width: 100%;
  background-color: white;
  display: none;
  width: auto;
  text-align: center;
  height: 0px;

  z-index: 120;
}

.menu1 ul li {
  padding: 12px 0;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.contact {
  padding: 12px 24px;
  border: solid 1px black;
}

#main_nav {
  margin-top: 16rem;
}

#main_nav ul {
  display: flex;
  justify-content: space-between;
  margin-inline: 32px;
}

#main_nav a {
  font-size: 1.224rem;
}

@media only screen and (max-width: 1023px) {
  #main_nav {
    display: none;
  }
}

/* The Masonry Container */
.masonry {
  column-gap: 4px;
  margin-top: 16px;
}

.masonry div img {
  margin-bottom: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
    margin-inline: 32px;
    margin-top: 32px;
    gap: 18px;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
    margin-inline: 24px;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) {
  .masonry {
    column-count: 2;
    margin-inline: 12px;
  }
}

/* HOVERS */

/* ANIMATIONS */

/* MEDIA QUERIES */
